<template>
  <ModalWindow title="Благодарим за заявку"
               @close="$emit('close')">
    <div class="consult-modal__body" slot="body">
      <FontAwesomeIcon :icon="checkCircle"
                       size="4x"
                       class="consult-modal__icon"/>
      Наш специалист свяжется с вами в ближайшее время
    </div>
  </ModalWindow>
</template>

<script>
  import ModalWindow from '@/components/containers/ModalWindow';
  import {faCheckCircle} from '@fortawesome/free-regular-svg-icons';
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';

  export default {
    name: 'ConsultationModal',
    components: {ModalWindow, FontAwesomeIcon},
    data: () => ({checkCircle: faCheckCircle})
  }
</script>

<style lang="scss" scoped>
  .consult-modal {
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      color: $orange;
      margin-bottom: 20px;
    }
  }
</style>
