<template>
  <ModalWindow :title="isRequestSent ? 'Заявка успешно отправлена' : 'Укажите контактные данные'"
               @close="$emit('close')">
    <div class="form-modal__body"
         slot="body">
      <template v-if="isRequestSent">
        <FontAwesomeIcon :icon="checkCircle"
                         size="4x"
                         class="form-modal__icon"/>
        Наш специалист свяжется с вами в ближайшее время
      </template>
      <template v-else>
        <input type="text"
               v-model.trim="formData.name"
               class="form-modal__input"
               :class="{ 'form-modal__input_invalid': !isNameValid }"
               placeholder="Введите имя">
        <TheMask type="tel"
                 v-model="formData.phone"
                 :mask="'Z (###) ###-##-##'"
                 :tokens="maskTokens"
                 :masked="true"
                 class="form-modal__input"
                 :class="{ 'form-modal__input_invalid': !isPhoneValid }"
                 placeholder="Введите телефон"/>
        <input type="email"
               v-model.trim="formData.email"
               class="form-modal__input"
               :class="{ 'form-modal__input_invalid': !isEmailValid }"
               placeholder="Введите e-mail">
      </template>
    </div>
    <button class="form-modal__button"
            @click="isRequestSent ? $emit('close') : sendRequest()"
            slot="footer">
      {{isRequestSent ? 'Закрыть' : 'Отправить заявку'}}
    </button>
  </ModalWindow>
</template>

<script>
  import ModalWindow from '@/components/containers/ModalWindow';
  import {faCheckCircle} from '@fortawesome/free-regular-svg-icons';
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
  import {TheMask} from 'vue-the-mask';
  import {maskTokens, validateEmail, validateName, validatePhone} from '@/core';
  import {sendCallbackMixin} from '@/mixins/requests';

  export default {
    name: 'FormModal',
    components: {ModalWindow, FontAwesomeIcon, TheMask},
    props: {source: String},
    data: () => ({
      isRequestSent: false,
      checkCircle: faCheckCircle,
      maskTokens,
      formData: {
        name: null,
        phone: null,
        email: null,
      },
      isNameValid: true,
      isPhoneValid: true,
      isEmailValid: true,
    }),
    mixins: [sendCallbackMixin],
    methods: {
      sendRequest() {
        // todo: придумать хороший механизм валидации
        this.isNameValid = validateName(this.formData.name);
        this.isPhoneValid = validatePhone(this.formData.phone);
        this.isEmailValid = validateEmail(this.formData.email);
        if (!this.isNameValid || !this.isPhoneValid || !this.isEmailValid) {
          return;
        }
        const body = { source: this.source, ...this.formData };
        this.sendCallbackRequest(body)
          .then(res => {
            if (!res.ok) {
              throw res;
            }
            this.isRequestSent = true;
          })
          .catch(e => console.error(e));
      }
    }
  }
</script>

<style lang="scss" scoped>
  .form-modal {
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      color: $orange;
      margin-bottom: 20px;
    }
    &__input {
      @include rounded-input;
      width: 100%;
      margin-bottom: 15px;
    }
    &__button {
      @include rounded-button;
      width: 100%;
    }
  }
</style>
