<template>
  <section class="content-wrapper">
    <slot></slot>
  </section>
</template>

<script>
export default {
  name: 'ContentWrapper'
};
</script>

<style lang="scss" scoped>
.content-wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 10px;
  background: transparent;
}
</style>
