<template>
  <transition name="modal-fade" appear>
    <div class="modal__backdrop" @click="outsideClick($event)">
      <div class="modal" ref="modal">
        <div class="modal__header">
          <div class="modal__title">{{title}}</div>
          <button type="button"
                  class="modal__close-button"
                  @click="$emit('close')">
            <FontAwesomeIcon :icon="closeIcon" size="2x"/>
          </button>
        </div>

        <div class="modal__body">
          <slot name="body"></slot>
        </div>

        <div class="modal__footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
  import {faTimes} from '@fortawesome/free-solid-svg-icons';

  export default {
    name: 'ModalWindow',
    components: {FontAwesomeIcon},
    props: {
      title: String,
    },
    data: () => ({
      closeIcon: faTimes
    }),
    methods: {
      outsideClick(event) {
        if (this.$refs.modal && !this.$refs.modal.contains(event.target)) {
          this.$emit('close');
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    background: $white;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
    }

    &__header {
      display: flex;
      padding: 15px 10px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grey;
    }

    &__footer {
      display: flex;
      padding: 0 10px;
      justify-content: flex-end;
    }

    &__title {
      font-size: $font-size-sub-heading;
      color: $dark;
      margin-right: 10px;
    }

    &__body {
      position: relative;
      padding: 20px 10px;
    }

    &__close-button {
      border: none;
      color: $orange;
      background: transparent;
    }
  }

  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }

  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .4s ease;
  }
</style>
