@import "variables";

@mixin tablet {
  @media only screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin link($color) {
  text-decoration: none;
  color: $color;
  &:visited {
    text-decoration: none;
    color: $color;
  }
}

@mixin rounded-button {
  height: 60px;
  width: 350px;
  @include mobile {
    width: $mobile-form-field-width;
    margin: $mobile-form-field-margin;
  }
  border-radius: 60px;
  color: $white;
  background-color: $orange;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: all .3s;

  &:hover {
    box-shadow: $button-shadow;
  }
}

@mixin transparent-button {
  height: 35px;
  width: 180px;
  border-radius: 50px;
  color: $orange;
  background: transparent;
  border: 1px solid $orange;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  transition: all .3s;

  &:hover {
    color: $white;
    background-color: $orange;
    box-shadow: $button-shadow;
  }
}

@mixin rounded-input {
  display: block;
  box-sizing: border-box;
  height: 60px;
  border-radius: 60px;
  width: 350px;
  @include mobile {
    width: $mobile-form-field-width;
    margin: $mobile-form-field-margin;
  }
  padding-left: 20px;
  transition: .3s;
  border: .5px solid $white;
  &::placeholder {
    color: $light-grey;
  }
  &:focus {
    border: 1px solid $orange;
  }
  &_invalid {
    border: 2px solid $red;
  }
}

@mixin direction-button {
  min-width: 200px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $light-grey-shadow;
  padding: 20px 30px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  transition: all .3s;

  &:hover {
    box-shadow: $button-shadow;
    background-color: $orange;
    color: $white;
  }
}
