// core
$content-width: 1024px;
$button-shadow: 0 0 15px 0 #fe770a;

// colors
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.2);
$dark: #212121;
$orange: #f07821;
$light-grey-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
$light-grey: #c6c6c6;
$grey: #47474a;
$grey-transparent: rgba(45, 45, 45, 0.9);
$red: #FF3D3D;
$background-grey: #f8f8f8;

// font
$font-size-heading: 54px;
$font-size-sub-heading: 34px;
$font-size-regular: 14px;

// breakpoints
$tablet-width: 830px;
$mobile-width: 480px;

// mobile
$mobile-form-width: 100%;
$mobile-form-field-margin: 0 25px 15px;
$mobile-form-field-width: calc(100% - 50px);
