<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="Visav - Визовый центр в Москве"/>
    <meta property="og:description" content="Мнгновенная виза в Москве по телефону +7 (999) 886-67-66"/>
    <meta property="og:image" content="<%= BASE_URL %>header-logo.png" />
    <meta property="og:image:secure_url" content="<%= BASE_URL %>header-logo.png" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="40" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Visav - Визовый центр в Москве</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but visav.ru doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Yandex.Metrika counter-->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(56941990, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56941990" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!--/Yandex.Metrika counter-->
  </body>
</html>
