<template>
  <div>
    <div style="height: 60px;">Место под хедер</div>
    <router-view />
  </div>
</template>

<script>
  export default {
    name: 'AdminLayout'
  }
</script>

<style lang="scss"></style>
