<template>
  <div>
    <TheHeader />
    <router-view />
    <template v-if="showLanding">
      <WorkingProcess />
      <PhotoForm />
      <DocumentList id="documents" />
      <AdditionalInfo />
      <DocumentTransfer />
      <ThreeVisaForm />
      <FeedbackBlock />
      <ContactsBlock id="contacts" />
    </template>
  </div>
</template>

<script>
import WorkingProcess from '@/components/sections/WorkingProcess';
import PhotoForm from '@/components/sections/PhotoForm';
import DocumentList from '@/components/sections/DocumentList';
import AdditionalInfo from '@/components/sections/AdditionalInfo';
import DocumentTransfer from '@/components/sections/DocumentTransfer';
import ThreeVisaForm from '@/components/sections/ThreeVisaForm';
import FeedbackBlock from '@/components/sections/FeedbackBlock';
import ContactsBlock from '@/components/sections/ContactsBlock';
import TheHeader from '@/components/header/TheHeader';

export default {
  name: 'SiteLayout',
  components: {
    TheHeader,
    ContactsBlock,
    FeedbackBlock,
    ThreeVisaForm,
    DocumentTransfer,
    AdditionalInfo,
    DocumentList,
    PhotoForm,
    WorkingProcess
  },
  computed: {
    showLanding() {
      const pagesWithoutLandingContent = ['/contacts'];
      return !pagesWithoutLandingContent.includes(this.$route.path);
    }
  }
};
</script>

<style lang="scss"></style>
