<template>
  <div class="bg-dark">
    <ContentWrapper>
      <h2 class="additional-info__title">Дополнительная информация</h2>
      <div class="additional-info">
        <div class="additional-info__list">
          <div class="list__title">Список документов зависит от:</div>
          <div class="list">
            <div v-for="item in listItems"
                 :key="item.id"
                 class="list-item">
              <img :src="item.src" :alt="item.text">
              <span class="list-item__text">{{item.text}}</span>
            </div>
          </div>
        </div>

        <div class="additional-info__form">
          <div class="form__title">Отправим на e-mail</div>
          <div class="form__text">Оставьте заявку, чтобы мы отправили вам на e-mail персональный список документов</div>
          <input type="text"
               v-model.trim="formData.name"
               class="form__input"
               :class="{ 'form__input_invalid': !isNameValid }"
               placeholder="Введите имя">
          <TheMask type="tel"
                   v-model="formData.phone"
                   :mask="'Z (###) ###-##-##'"
                   :tokens="maskTokens"
                   :masked="true"
                   class="form__input"
                   :class="{ 'form__input_invalid': !isPhoneValid }"
                   placeholder="Введите телефон"/>
          <input type="email"
                 v-model.trim="formData.email"
                 class="form__input"
                 :class="{ 'form__input_invalid': !isEmailValid }"
                 placeholder="Введите e-mail">
          <button class="form__button"
                  @click="sendRequest()">
            Получить список документов
          </button>
        </div>
      </div>
    </ContentWrapper>
    <ConsultationModal v-if="isModalOpened"
                       @close="isModalOpened = false"/>
  </div>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import ConsultationModal from '@/components/modals/ConsultationModal';
  import {TheMask} from 'vue-the-mask';
  import {maskTokens, validateEmail, validateName, validatePhone} from '@/core';
  import {sendCallbackMixin} from '@/mixins/requests';

  export default {
    name: 'AdditionalInfo',
    components: {ContentWrapper, ConsultationModal, TheMask},
    data: () => ({
      listItems: [
        { id: 1, text: 'Наличия работы или учебы', src: require('@/assets/work-study.png') },
        { id: 2, text: 'Гражданства и места рождениям', src: require('@/assets/citizenship.png') },
        { id: 3, text: 'Состава заявителей на визы', src: require('@/assets/family.png') },
        { id: 4, text: 'Цели поездки', src: require('@/assets/palm.png') },
      ],
      isModalOpened: false,
      maskTokens,
      formData: {
        name: null,
        phone: null,
        email: null,
      },
      isNameValid: true,
      isPhoneValid: true,
      isEmailValid: true,
    }),
    mixins: [sendCallbackMixin],
    methods: {
      sendRequest() {
        // todo: придумать хороший механизм валидации
        this.isNameValid = validateName(this.formData.name);
        this.isPhoneValid = validatePhone(this.formData.phone);
        this.isEmailValid = validateEmail(this.formData.email);
        if (!this.isNameValid || !this.isPhoneValid || !this.isEmailValid) {
          return;
        }
        const body = { source: 'Блок с дополнительной информацией', ...this.formData };
        this.sendCallbackRequest(body)
          .then(res => {
            if (!res.ok) {
              throw res;
            }
            this.isModalOpened = true;
            this.isNameValid = true;
            this.isPhoneValid = true;
            this.isEmailValid = true;
            Object.keys(this.formData).forEach(field => this.formData[field] = null);
          })
          .catch(e => console.error(e));
      }
    }
  }
</script>

<style lang="scss" scoped>
  .bg-dark {
    background-color: $background-grey;
  }

  .additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 80px;

    &__title {
      text-align: center;
      font-size: $font-size-sub-heading;
      font-weight: bold;
      color: $light-grey;
      padding: 80px 0 40px;
    }

    &__list {
      @include tablet {
        padding-bottom: 50px;
      }
    }

    &__form {
      width: 350px;
      @include mobile {
        width: $mobile-form-width;
        text-align: center;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 22px;
      font-weight: bold;
    }

    &-item {
      margin-top: 20px;
      display: flex;
      align-items: center;
      @include tablet {
        &:not(:last-child) {margin-bottom: 20px;}
      }
      @include mobile {
        padding-left: 25px;
      }
      & img {
        width: 50px;
        height: 60px;
        margin-right: 20px;
      }
    }
  }

  .form {
    &__title {
      font-size: 22px;
      font-weight: bold;
    }
    &__text {
      font-size: $font-size-regular;
      margin: 10px 0;
    }
    &__input {
      @include rounded-input;
      margin-bottom: 15px;
    }
    &__button {
      @include rounded-button;
    }
  }
</style>
