<template>
  <div class="contacts__wrapper">
    <ContentWrapper>
      <img src="../../assets/svg-logo/grey.svg"
           alt="logo"
           class="contacts__logo">
      <div v-for="item in contacts"
           :key="item.id"
           class="contacts__item">
        <FontAwesomeIcon :icon="item.icon"
                         class="contacts__icon"/>
        {{item.text}}
      </div>
      <button class="contacts__button"
              @click="isModalOpened = true">
        Получить консультацию
      </button>
    </ContentWrapper>
    <yandex-map class="map"
               :coords="coords"
               :zoom="16">
      <ymap-marker :coords="coords"
                   marker-id="1"
                   hint-content="Офис VisaV"/>
    </yandex-map>
    <FormModal v-if="isModalOpened"
               @close="isModalOpened = false"
               source="Блок с контактами"/>
  </div>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import {yandexMap, ymapMarker} from 'vue-yandex-maps';
  import {faClock, faEnvelope} from '@fortawesome/free-regular-svg-icons';
  import {faMapMarkerAlt, faPhoneAlt} from '@fortawesome/free-solid-svg-icons';
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
  import FormModal from '@/components/modals/FormModal';

  export default {
    name: 'ContactsBlock',
    components: {ContentWrapper, yandexMap, ymapMarker, FontAwesomeIcon, FormModal},
    data: () => ({
      coords: [ 55.739645, 37.654170 ],
      isModalOpened: false,
      contacts: [
        { id: 1, text: 'Москва, м. Таганская, ул Большие Каменщики, 1, офис 25, этаж 5', icon: faMapMarkerAlt },
        { id: 2, text: 'Пн-Пт: с 10 до 19; Сб, Вс: выходной', icon: faClock },
        { id: 3, text: 'info@visav.ru', icon: faEnvelope },
        { id: 4, text: '+7 999 886-67-66', icon: faPhoneAlt },
      ]
    })
  }
</script>

<style lang="scss" scoped>
  .contacts {
    &__wrapper {
      position: relative;
      background: url("~@/assets/bg-contacts.jpg") no-repeat center;
      background-size: cover;
      height: 495px;
      @include tablet {
        text-align: center;
      }
      @include mobile {
        background-size: cover;
      }
    }

    &__logo {
      height: 40px;
      width: 240px;
      margin: 80px 0 40px;
      @include tablet {
        margin: 50px auto;
      }
    }

    &__icon {
      margin-right: 10px;
      color: $orange;
    }

    &__item {
      max-width: 50%;
      position: relative;
      text-align: left;
      line-height: 1.2;
      padding: 0 25px;
      box-sizing: border-box;
      margin: 0 0 25px 15px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
      @include mobile {
        max-width: 100%;
      }
    }

    &__button {
      @include rounded-button;
      margin-top: 30px;
    }
  }

  .map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 495px;
    width: 50%;
    @include tablet {
      position: static;
      width: 100%;
      margin-top: 25px;
    }
  }
</style>
