<template>
  <ContentWrapper>
    <div class="document-transfer__heading">
      <h2 class="document-transfer__title">Передача документов</h2>
      Передайте документы на визу любым удобным для вас способом
    </div>

    <div class="document-transfer__variants">
      <div v-for="variant in documentTransferVariants"
           :key="variant.id"
           class="variant">
        <img :src="variant.image" alt="">
        <div class="variant__text">{{variant.text}}</div>
        <button class="variant__button"
                @click="openModal(variant.text)">
          {{variant.btnText}}
        </button>
      </div>
    </div>
    <FormModal v-if="isModalOpened"
               @close="closeModal()"
               :source="requestSource"/>
  </ContentWrapper>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import FormModal from '@/components/modals/FormModal';

  export default {
    name: 'DocumentTransfer',
    components: {ContentWrapper, FormModal},
    data: () => ({
      documentTransferVariants: [
        { id: 1, image: require('@/assets/curier.png'), text: 'Курьером по городу', btnText: 'Вызвать курьера' },
        { id: 2, image: require('@/assets/office.png'), text: 'У нас в офисе', btnText: 'Записаться' },
        { id: 3, image: require('@/assets/message.png'), text: 'E-mail, Whatsapp, Viber', btnText: 'Отправить' },
        { id: 4, image: require('@/assets/curier-company.png'), text: 'Курьерской компанией', btnText: 'Вызвать курьера' },
      ],
      isModalOpened: false,
      requestSource: null,
    }),
    methods: {
      openModal(transferType) {
        this.isModalOpened = true;
        this.requestSource = transferType;
      },
      closeModal() {
        this.isModalOpened = false;
        this.requestSource = null;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .document-transfer {
    &__heading {
      margin: 80px 0 60px;
      text-align: center;
    }
    &__title {
      font-size: $font-size-sub-heading;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__variants {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10px;
      margin-bottom: 80px;
    }
  }
  .variant {
    text-align: center;
    @include mobile {
      flex-basis: 100% !important;
    }
    @include tablet {
      flex-basis: 50%;
      &:not(:last-child) {margin-bottom: 35px;}
    }
    & img {
      height: 100px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__button {
      @include transparent-button;
    }
  }
</style>
