<template>
  <ContentWrapper>
    <div class="document-list__heading">
      <h2 class="document-list__title">Список документов</h2>
      Основной перечень документов
    </div>

    <div class="document-list">
      <div v-for="item in requiredDocuments"
           :key="item.id"
           class="list-item">
        <img :src="item.src" :alt="item.text">
        <div class="list-item__text">{{item.text}}</div>
      </div>
    </div>
  </ContentWrapper>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import { mapGetters } from 'vuex';

  export default {
    name: 'DocumentList',
    components: {ContentWrapper},
    computed: {
      ...mapGetters(['requiredDocuments'])
    }
  }
</script>

<style lang="scss" scoped>
  .document-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &__heading {
      margin: 80px 0 40px;
      text-align: center;
    }
    &__title {
      font-size: $font-size-sub-heading;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .list-item {
    text-align: center;
    width: 180px;
    @include mobile {
      flex-basis: 100% !important;
    }
    @include tablet {
      flex-basis: 50%;
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
    &__text {
      margin-top: 10px;
      line-height: 1.6;
      font-size: $font-size-regular;
    }
  }
</style>
