<template>
  <section class="feedback__wrapper">
    <div class="feedback__heading">
      <h2 class="feedback__title">Отзывы</h2>
      о работе визового центра
    </div>

    <div class="feedback__gallery">
      <carousel :autoplay="true"
                :autoplay-hover-pause="false"
                :autoplay-timeout="6000"
                :pagination-enabled="false"
                :loop="true"
                :per-page-custom="[[320, 1], [481, 2], [800, 3], [1100, 4]]">
        <slide v-for="(slide, index) in slides"
               :key="index"
               class="feedback__slide">
          <img :src="slide"
               alt="screenshot"
               class="feedback__screenshot">
        </slide>
      </carousel>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'FeedbackBlock',
    computed: {
      slides() {
        const slides = [];
        for (let i = 1; i <= 10; i++) {
          slides.push(require(`@/assets/feedback/feedback-${i}.jpg`));
        }
        return slides;
      },
    }
  }
</script>

<style lang="scss" scoped>
  .feedback {
    &__wrapper {
      padding: 0 10px 40px;
    }
    &__heading {
      margin: 80px 0 60px;
      text-align: center;
    }
    &__title {
      font-size: $font-size-sub-heading;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__gallery {
      margin-top: 20px;
    }
    &__slide {
      text-align: center;
    }
    &__screenshot {
      width: calc(100% - 10px);
    }
  }
</style>
