<template>
  <ContentWrapper>
    <h2 class="countries__heading">Выберите страну</h2>
    <div class="countries__list">
      <div class="countries__country"
           v-for="(country, index) in countries"
           :key="index">
        <img :src="country.img"
             :alt="country.name"
             class="country__image"/>
        <div class="country__title">{{country.name}}</div>
        <router-link v-if="country.services"
                     class="country__link"
                     :to="'/country/' + country.link">
          Подробнее
        </router-link>
        <button class="country__button"
                @click="openModal(country.name)">
          Получить визу
        </button>
      </div>
    </div>
    <FormModal v-if="isModalOpened"
               @close="closeModal()"
               :source="requestSource"/>
  </ContentWrapper>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import FormModal from '@/components/modals/FormModal';

  export default {
    name: 'SelectCountry',
    components: {ContentWrapper, FormModal},
    props: {
      countries: Array
    },
    data: () => ({
      isModalOpened: false,
      requestSource: null,
    }),
    methods: {
      openModal(country) {
        this.isModalOpened = true;
        this.requestSource = country;
      },
      closeModal() {
        this.isModalOpened = false;
        this.requestSource = null;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .countries {
    &__heading {
      margin: 80px 0;
      text-align: center;
      font-size: $font-size-sub-heading;
      font-weight: bold;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__country {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;

      &:hover {
        .country {
          &__title {
            border-bottom: 1px solid $dark;
          }
          &__link {
            color: $orange;
          }
        }
      }
    }
  }

  .country {
    &__image {
      width: 180px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid transparent;
      transition: border-bottom-color ease-in-out .3s;
    }
    &__link {
      margin-bottom: 15px;
      font-size: $font-size-regular;
      color: $grey;
      transition: color ease-in-out .3s;
    }
    &__button {
      @include transparent-button;
    }
  }
</style>
