<template>
  <div class="directions__wrapper">
    <h2 class="directions__heading">Выбор направления</h2>
    <div class="directions__map">
      <div class="map__buttons">
        <button class="map__button"
                v-for="direction in directions"
                :key="direction.id"
                @click="$router.push('direction/' + direction.link)">
          {{direction.name}}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: 'SelectDirection',
    computed: {
      ...mapGetters(['directions'])
    }
  }
</script>

<style lang="scss" scoped>
  .directions {
    &__heading {
      margin: 80px 0;
      text-align: center;
      font-size: $font-size-sub-heading;
      font-weight: bold;
    }
    &__map {
      height: 510px;
      background: url("~@/assets/select-direction.png") no-repeat center;
      background-size: cover;
    }
  }

  .map {
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      padding-top: 180px;
      max-width: 768px;
      box-sizing: border-box;
      @include mobile {
        width: 100%;
        flex-direction: column;
        padding: 0 40px;
      }
    }
    &__button {
      @include direction-button;
      margin: 20px;
      @include mobile {
        margin-top: 20px;
      }
    }
  }
</style>
