<template>
  <div>
    <ContentWrapper v-if="services">
      <h2 class="service__heading">Получите визу просто</h2>
      <!-- Квадрат с табличкой -->
      <div class="service__list" :class="{ '__full': showDetailedServices }">
        <template v-for="(service, index) in services">
          <div v-if="showDetailedServices"
               :key="index"
               class="service">
            <div class="service__square">
              <div class="square__wrapper">
                <div class="square__content">
                  <h3 class="square__title">{{service.title}}</h3>
                  <div class="square__subtitle">{{service.subtitle}}</div>
                  <div class="square__price">{{service.price}}</div>
                  <div class="square__text">{{service.chargeText}}</div>
                  <ul v-if="service.chargeList">
                    <li v-for="(item, index) in service.chargeList"
                        :key="index">
                      {{item}}
                    </li>
                  </ul>
                  <button class="service__button"
                          @click="openModal(service)">
                    Получить визу
                  </button>
                </div>
              </div>
            </div>
            <div class="service__steps">
              <p>Что сделаем:</p>
              <ol>
                <li v-for="(feature, index) in service.serviceList"
                    :key="index">
                  {{feature}}
                </li>
              </ol>
            </div>
            <div class="service__steps">
              <p>Что нужно сделать вам:</p>
              <ol>
                <li v-for="(step, index) in service.steps"
                    :key="index">
                  {{step}}
                </li>
              </ol>
              <button class="service__button service__button_long"
                      @click="openModal(service)">
                Получить визу в {{service.steps.length}} шага
              </button>
            </div>
          </div>
          <!-- Просто квадраты -->
          <div v-else
               :key="index"
               class="square__wrapper">
            <div class="square__content">
              <h3 class="square__title">{{service.title}}</h3>
              <div class="square__subtitle">{{service.subtitle}}</div>
              <div class="square__price">{{service.price}}</div>
              <div class="square__text">{{service.chargeText}}</div>
              <button class="service__button"
                      @click="openModal(service)">
                Получить визу
              </button>
            </div>
          </div>
          <!-- разделитель -->
          <div v-if="showDetailedServices && (index !== services.length - 1)"
               :key="index + 'divider'"
               class="divider"></div>
        </template>
      </div>
    </ContentWrapper>
    <FormModal v-if="isModalOpened"
               @close="closeModal()"
               :source="source"/>
  </div>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import FormModal from '@/components/modals/FormModal';

  export default {
    name: 'ServicesBlock',
    components: {FormModal, ContentWrapper},
    props: {
      services: Array,
      countryName: String,
    },
    data: () => ({
      isModalOpened: false,
      source: null,
    }),
    computed: {
      showDetailedServices() {
        return !!(this.services && this.services[0].serviceList);
      },
    },
    methods: {
      openModal(service) {
        this.isModalOpened = true;
        this.source = `${this.countryName}: ${service.title} ${service.subtitle} ${service.price}`;
      },
      closeModal() {
        this.isModalOpened = false;
        this.source = null;
      }
    }
  }
</script>

<style lang="scss">
.service {
  display: flex;
  @include tablet {
    flex-wrap: wrap;
  }

  &__heading {
    margin: 80px 0;
    text-align: center;
    font-size: $font-size-sub-heading;
    font-weight: bold;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &.__full {
      flex-direction: column;
    }
  }
  &__square {
    .square__wrapper {
      width: auto;
    }
    @include tablet {
      margin: 0 auto;
    }
  }
  &__steps {
    width: 33%;
    margin-left: 10px;

    p {
      font-weight: bold;
      margin: 10px 0;
    }
    ol {
      padding-left: 1em;
      list-style: decimal;
      li {
        margin-bottom: 5px;
      }
    }

    @include tablet {
      width: calc(50% - 20px);
    }
    @include mobile {
      width: 100%;
    }
  }
  &__button {
    @include transparent-button;
    font-size: 18px;
    height: 40px;
    width: 240px;
    border-width: 2px;

    &_long {
      margin-top: 10px;
      width: 100%;
      height: auto;
      min-height: 40px;
    }
  }
}

.square {
  &__wrapper {
    width: 380px;
    background-color: $background-grey;
    margin: 20px;
    padding: 15px;
    @include tablet {
      min-width: 280px;
    }
  }
  &__content {
    background-color: $white;
    padding: 10px;
    text-align: center;
  }
  &__title {
    font-size: $font-size-sub-heading;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  &__price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.divider {
  height: 1px;
  background-color: $dark;
  margin: 20px 100px;
}
</style>
