<template>
  <div class="form-wrapper">
    <ContentWrapper>
      <div class="form">
        <h3 class="form__text">
          Оставьте заявку, чтобы <span>получить скидку</span> при оформлении <span>от 3 виз</span>
        </h3>
        <input type="text"
               v-model.trim="name"
               class="form__input"
               :class="{ 'form__input_invalid': !isNameValid }"
               placeholder="Введите имя"/>
        <TheMask type="tel"
                 v-model="phone"
                 :mask="'Z (###) ###-##-##'"
                 :tokens="maskTokens"
                 :masked="true"
                 class="form__input"
                 :class="{ 'form__input_invalid': !isPhoneValid }"
                 placeholder="Введите телефон"/>
        <button class="form__button"
                @click="sendRequest()">
          Получить консультацию
        </button>
      </div>
    </ContentWrapper>
    <ConsultationModal v-if="isModalOpened"
                       @close="isModalOpened = false"/>
  </div>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import ConsultationModal from '@/components/modals/ConsultationModal';
  import {TheMask} from 'vue-the-mask';
  import {maskTokens, validateName, validatePhone} from '@/core';
  import {sendCallbackMixin} from '@/mixins/requests';

  // todo: объединить с компонентом PhotoForm
  export default {
    name: 'ThreeVisaForm',
    components: {ContentWrapper, ConsultationModal, TheMask},
    data: () => ({
      isModalOpened: false,
      name: null,
      phone: null,
      isNameValid: true,
      isPhoneValid: true,
      maskTokens,
    }),
    mixins: [sendCallbackMixin],
    methods: {
      sendRequest() {
        this.isPhoneValid = validatePhone(this.phone);
        this.isNameValid = validateName(this.name);
        if (!this.isPhoneValid || !this.isNameValid) {
          return;
        }

        const body = { phone: this.phone, name: this.name, source: 'Форма с бесплатным фото' };
        this.sendCallbackRequest(body)
          .then(res => {
            if (!res.ok) {
              throw res;
            }
            this.isModalOpened = true;
            this.isNameValid = true;
            this.isPhoneValid = true;
            this.phone = null;
            this.name = null;
          })
          .catch(e => console.error(e));
      }
    }
  }
</script>

<style lang="scss" scoped>
  .form {
    padding: 90px 0;

    &-wrapper {
      height: 550px;
      background: url("~@/assets/bg-three-visa.jpg") no-repeat center;
      background-size: cover;
      @include tablet {
        background: url("~@/assets/mobile-bg-form.png") no-repeat center;
        height: auto;
        background-size: cover;
      }
    }

    &__text {
      font-size: $font-size-sub-heading;
      font-weight: 600;
      margin-bottom: 50px;
      max-width: 550px;
      @include mobile {
        text-align: center;
      }

      & span {
        color: $orange;
      }
    }
    &__input {
      @include rounded-input;
      margin-bottom: 15px;
    }
    &__button {
      @include rounded-button;
    }
  }
</style>
