<template>
  <div class="form-wrapper" :style="{ backgroundImage: 'url(' + backgroundUrl + ')' }">
    <ContentWrapper>
      <div class="form">
        <h1 class="form__title" v-if="title">{{title}}</h1>
        <h3 class="form__subtitle">{{subTitle}}</h3>
        <TheMask type="text"
                 mask="Z (###) ###-##-##"
                 :tokens="maskTokens"
                 :masked="true"
                 v-model="phone"
                 class="form__input"
                 :class="{ 'form__input_invalid': !isPhoneValid }"
                 placeholder="Введите телефон"/>
        <button @click="sendRequest()"
                class="form__button">
          Получить консультацию
        </button>
      </div>
    </ContentWrapper>
    <ConsultationModal v-if="isModalOpened"
                       @close="isModalOpened = false"/>
  </div>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import ConsultationModal from '@/components/modals/ConsultationModal';
  import {TheMask} from 'vue-the-mask';
  import {maskTokens, validatePhone} from '@/core';
  import {sendCallbackMixin} from '@/mixins/requests';

  export default {
    name: 'TopForm',
    components: {
      ConsultationModal,
      ContentWrapper,
      TheMask
    },
    props: {
      title: {
        type: String
      },
      subTitle: {
        type: String,
        default: 'Для тех кто не хочет думать о визе'
      },
      backgroundUrl: {
        type: String,
        default: require('@/assets/banner-main-top.jpg'),
      }
    },
    data: () => ({
      isModalOpened: false,
      phone: null,
      maskTokens,
      isPhoneValid: true,
    }),
    mixins: [sendCallbackMixin],
    methods: {
      sendRequest() {
        this.isPhoneValid = validatePhone(this.phone);
        if (!this.isPhoneValid) {
          return;
        }

        const body = { phone: this.phone, source: 'Форма наверху' };
        this.sendCallbackRequest(body)
          .then(res => {
            if (!res.ok) {
              throw res;
            }
            this.isModalOpened = true;
            this.isPhoneValid = true;
            this.phone = null;
          })
          .catch(e => {
            console.error(e);
            // todo: intercept http errors
            this.isPhoneValid = false;
          });
      }
    }
  }
</script>

<style lang="scss">
  .form {
    padding: 200px 0 0 10px;
    @include mobile {
      padding: 150px 0 50px 0;
    }

    &-wrapper {
      position: relative;
      height: 700px;
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 700px;
    }

    &__title {
      font-size: $font-size-heading;
      color: $white;
      font-weight: 600;
      margin-bottom: 30px;
      word-break: break-word;
    }
    &__subtitle {
      font-size: 30px;
      color: $white;
      margin-bottom: 100px;
    }
    &__input {
      @include rounded-input;
      margin-bottom: 15px;
    }
    &__button {
      @include rounded-button;
    }
  }
</style>
