<template>
  <ContentWrapper>
    <h2 class="steps__heading">Как мы работаем</h2>
    <div class="steps">
      <template v-for="item in steps">
        <div class="step" :key="'p' + item.id">
          <img :src="item.src" :alt="item.id">
          <div class="step__text">{{item.text}}</div>
          <button v-if="item.id === 1"
                  @click="isModalOpened = true"
                  class="step__button">
            Перезвоните мне
          </button>
        </div>
        <img v-if="item.id !== steps.length"
             :key="'a' + item.id"
             src="../../assets/arrow-right.png"
             alt="arrow"
             class="steps__arrow">
      </template>
    </div>
    <FormModal v-if="isModalOpened"
               @close="isModalOpened = false"
               source="Как мы работаем"/>
  </ContentWrapper>
</template>

<script>
  import ContentWrapper from '@/components/containers/ContentWrapper';
  import FormModal from '@/components/modals/FormModal';

  export default {
    name: 'WorkingProcess',
    components: {
      FormModal,
      ContentWrapper,
    },
    data: () => ({
      isModalOpened: false,
      steps: [
        { id: 1, src: require('@/assets/process-1.png'), text: 'Позвоните или оставьте заявку на сайте' },
        { id: 2, src: require('@/assets/process-2.png'), text: 'Получите консультацию специалиста по Вашей визе' },
        { id: 3, src: require('@/assets/process-3.png'), text: 'От вас минимальный пакет документов' },
        { id: 4, src: require('@/assets/process-4.png'), text: 'Подготавливаем документы и сдаем в консульство' },
        { id: 5, src: require('@/assets/process-5.png'), text: 'Вы получаете визу' },
      ]
    })
  }
</script>

<style lang="scss" scoped>
  .steps {
    display: flex;
    margin-bottom: 80px;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include tablet {
      flex-wrap: wrap;
    }

    &__heading {
      margin: 80px 0;
      text-align: center;
      font-size: $font-size-sub-heading;
      font-weight: bold;
    }

    &__arrow {
      height: 100%;
      margin: 28px 10px 0;
      @include mobile {
        transform: rotate(90deg);
      }
    }
  }

  .step {
    text-align: center;
    @include mobile {
      flex-basis: 100% !important;
      &:not(:first-child) {margin-top: 20px;}
    }
    @include tablet {
      flex-basis: 40%;
      &:not(:last-child) {margin-bottom: 25px;}
    }

    &__text {
      margin-top: 10px;
      line-height: 1.6;
      font-size: $font-size-regular;
    }

    &__button {
      margin-top: 10px;
      @include transparent-button;
    }
  }
</style>
