<template>
  <div>
    <TopForm title="Контакты"/>
    <ContactsBlock />
  </div>
</template>

<script>
  import TopForm from '@/components/sections/TopForm';
  import ContactsBlock from '@/components/sections/ContactsBlock';
  export default {
    name: 'ContactsPage',
    components: {ContactsBlock, TopForm}
  }
</script>

<style lang="scss">

</style>
