<template>
  <div>
    <TopForm :background-url="topFormBackground"
             :title="currentCountry.title"
             :sub-title="currentCountry.subtitle"/>
    <ServicesBlock :services="currentCountry.services"
                   :country-name="currentCountry.name"/>
  </div>
</template>

<script>
import TopForm from '@/components/sections/TopForm';
import {mapActions, mapGetters} from 'vuex';
import ServicesBlock from '@/components/sections/ServicesBlock';

export default {
  name: 'CountryPage',
  components: {ServicesBlock, TopForm},
  data: () => ({
    topFormBackground: require('@/assets/directions/top-direction-form-bg.png'),
  }),
  methods: {
    ...mapActions(['setDocuments', 'setDefaultDocuments'])
  },
  computed: {
    ...mapGetters(['countries']),
    currentCountry() {
      return this.countries.find(country => country.link === this.$route.params.country);
    },
    hasRequiredDocuments() {
      return !!this.currentCountry.requiredDocuments;
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.hasRequiredDocuments) {
        vm.setDocuments(vm.currentCountry.requiredDocuments);
      }
    })
  },
  beforeRouteLeave(to, from, next) {
    if (this.hasRequiredDocuments) {
      this.setDefaultDocuments();
    }
    next();
  },
  beforeRouteUpdate(to, from, next) {
    if (this.hasRequiredDocuments) {
      this.setDocuments(this.currentCountry.requiredDocuments);
    } else {
      this.setDefaultDocuments();
    }
    next();
  }
};
</script>

<style lang="scss">
</style>
