<template>
  <div>
    <TopForm :background-url="topFormBackground"
             :title="currentDirection.directionTitle"/>
    <SelectCountry :countries="currentDirection.countries"/>
  </div>
</template>

<script>
import SelectCountry from '@/components/sections/SelectCountry';
import TopForm from '@/components/sections/TopForm';
import {mapGetters} from 'vuex';

export default {
  name: 'DirectionPage',
  components: {TopForm, SelectCountry},
  computed: {
    ...mapGetters(['directions']),
    currentDirection() {
      return this.directions.find(direction => direction.link === this.$route.params.direction)
    }
  },
  data: () => ({
    topFormBackground: require('@/assets/directions/top-direction-form-bg.png'),
  }),
};
</script>

<style lang="scss">
</style>
