<template>
  <div>
    <TopForm title="Визовый центр в Москве" sub-title="Оформите визу от 2000 руб за 5 дней"/>
    <SelectDirection/>
  </div>
</template>

<script>
import TopForm from '@/components/sections/TopForm';
import SelectDirection from '@/components/sections/SelectDirection';

export default {
  name: 'MainPage',
  components: {
    SelectDirection,
    TopForm,
  },
};
</script>

<style lang="scss"></style>
