<template>
  <transition name="expand">
    <ul v-if="isDirectionsDropdownOpened"
        v-click-outside="handleClickOutsideDirections"
        class="directions__list">
      <li v-for="direction in directions"
          :key="direction.id"
          @mouseenter="hoveredDirectionName = direction.name"
          @mouseleave="hoveredDirectionName = null"
          class="directions__item">
        <router-link :to="'/direction/' + direction.link">
          {{direction.name}}
        </router-link>

        <transition name="expand-right" mode="out-in">
          <ul class="countries__list"
              v-if="direction.name === hoveredDirectionName">
            <li v-for="country in direction.countries"
                :key="country.id"
                class="countries__item">
              <router-link :to="'/country/' + country.link">
                {{country.name}}
              </router-link>
            </li>
          </ul>
        </transition>
      </li>
    </ul>
  </transition>
</template>

<script>
  export default {
    name: 'DirectionsDropdown',
    props: {
      isDirectionsDropdownOpened: Boolean,
      directions: Array
    },
    data: () => ({
      hoveredDirectionName: null,
    }),
    methods: {
      handleClickOutsideDirections() {
        if (this.isDirectionsDropdownOpened) {
          this.$emit('update:isDirectionsDropdownOpened', false);
          this.hoveredDirectionName = null;
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .directions {
    &__dropdown-toggle {
      position: relative;
    }
    &__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $grey-transparent;
      top: 30px;
      width: 130px;
    }
    &__item {
      position: relative;
      a {
        @include link($white);
        display: block;
        text-transform: none;
        padding: 10px;
      }

      &:hover {
        background-color: $orange;
      }
    }
  }

  .countries {
    &__list {
      position: absolute;
      left: 130px;
      top: 0;
      background-color: $grey-transparent;
    }
    &__item {
      a {
        @include link($white);
        display: block;
        text-transform: none;
        padding: 10px;
      }

      &:hover {
        background-color: $orange;
      }
    }
  }

  /* transitions */
  .expand {
    &-enter-active{
      transition: all .4s ease-out;
      max-height: 250px;
      overflow: hidden;
    }

    &-leave-active {
      transition: all .3s;
      overflow: hidden;
    }

    &-enter,
    &-leave-to {
      max-height: 0;
      overflow: hidden;
    }
  }

  .expand-right {
    &-enter-active {
      transition: all .3s;
      max-width: 300px;
      overflow: hidden;
    }

    &-leave-active {
      transition: none;
    }

    &-enter,
    &-leave-to {
      max-width: 0;
      overflow: hidden;
    }
  }

  .slide {
    &-enter-active,
    &-leave-active {
      transition: opacity .7s;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }
</style>
