<template>
  <header class="header" :class="{ header_dark: isDarkHeader }">
    <div class="header__content">
      <router-link to="/">
        <img :src="logoSrc" alt="Header logo" class="header__logo" />
      </router-link>
      <FontAwesomeIcon :icon="menuIcon"
                       class="header__menu-button"
                       @click="isMobileMenuOpened ? closeMenu() : openMenu()"/>
      <div class="header__navigation">
        <a class="header__nav directions__dropdown-toggle"
           :class="{ '__active': isDirectionsDropdownOpened }"
           @click.stop="isDirectionsDropdownOpened = !isDirectionsDropdownOpened">
          Направления
          <DirectionsDropdown :directions="directions"
                              :is-directions-dropdown-opened.sync="isDirectionsDropdownOpened"/>
        </a>
        <a class="header__nav" @click="scrollToSection('documents')">Документы</a>
        <a class="header__nav" @click="scrollToSection('contacts')">Контакты</a>
      </div>
      <a href="tel:+79998866766" class="header__phone">
        +7 999&nbsp;<span>886-67-66</span>
      </a>
    </div>

    <transition name="expand">
      <div v-if="isMobileMenuOpened"
         class="header__menu">
        <div class="menu__item"
             @click="selectLinkItem('/')">
          Главная
        </div>
        <div class="menu__item">
          Направления
          <div class="menu__sub-item-wrapper">
            <div v-for="direction in directions"
                 :key="direction.id"
                 @click="selectLinkItem('/direction/' + direction.link)"
                 class="menu__sub-item">
              {{ direction.name }}
            </div>
          </div>
        </div>
        <div class="menu__item"
             @click="selectScrollItem('documents')">
          Документы
        </div>
       <router-link class="menu__item"
                    tag="div"
                    to="/contacts">
          Контакты
        </router-link>
      </div>
    </transition>
  </header>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {faBars, faTimes} from '@fortawesome/free-solid-svg-icons';
  import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
  import DirectionsDropdown from '@/components/header/DirectionsDropdown';

  const PAGES_WITH_DARK_LOGO = [ '/', '/contacts' ];

  export default {
    name: 'TheHeader',
    components: { DirectionsDropdown, FontAwesomeIcon },
    mounted() {
      window.addEventListener('scroll', this.onScroll);
      this.logoSrc = PAGES_WITH_DARK_LOGO.includes(this.$route.path)
        ? require('@/assets/svg-logo/grey.svg')
        : require('@/assets/svg-logo/white.svg');
      this.$router.beforeEach((to, from, next) => {
        if (this.isMobileMenuOpened) {
          this.closeMenu();
        }
        this.logoSrc = PAGES_WITH_DARK_LOGO.includes(to.path)
          ? require('@/assets/svg-logo/grey.svg')
          : require('@/assets/svg-logo/white.svg');
        next();
      })
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.onScroll);
    },
    computed: {
      ...mapGetters(['directions']),
      menuIcon() {
        return this.isMobileMenuOpened ? faTimes : faBars;
      }
    },
    data: () => ({
      isDarkHeader: false,
      logoSrc: null,
      isMobileMenuOpened: false,
      isDirectionsDropdownOpened: false,
      hoveredDirectionName: null,
      wasTransparent: false,
    }),
    methods: {
      onScroll() {
        if (window.pageYOffset < 0 || this.isMobileMenuOpened) {
          return;
        }
        this.updateHeaderColors(window.pageYOffset > 100);
      },
      scrollToSection(selector) {
        document
          .getElementById(selector)
          .scrollIntoView({ behavior: 'smooth', block: 'center' });
      },
      openMenu() {
        if (!this.isDarkHeader) {
          this.updateHeaderColors(true);
          this.wasTransparent = true;
        }
        this.isMobileMenuOpened = true;
      },
      closeMenu() {
        if (this.wasTransparent) {
          this.updateHeaderColors(false);
          this.wasTransparent = false;
        }
        this.isMobileMenuOpened = false;
      },
      updateHeaderColors(isDark) {
        if (this.isDarkHeader !== isDark) {
          this.isDarkHeader = isDark;
          this.logoSrc = isDark || !PAGES_WITH_DARK_LOGO.includes(this.$route.path)
            ? require('@/assets/svg-logo/white.svg')
            : require('@/assets/svg-logo/grey.svg');
        }
      },
      selectScrollItem(scrollSelector) {
        this.scrollToSection(scrollSelector);
        this.closeMenu();
      },
      selectLinkItem(path) {
        this.$router.push(path);
        this.closeMenu();
      }
    }
  };
</script>

<style lang="scss" scoped>
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
    &_dark {
      background-color: $grey-transparent;
      box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
    }
    &__logo {
      height: 40px;
      width: 240px;
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: $content-width;
      margin: 20px auto;
      padding: 0 10px;
    }
    &__navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include tablet {
        display: none;
      }
    }
    &__nav {
      @include link($white);
      margin: 2px 10px;
      text-transform: uppercase;
      font-weight: 100;
      cursor: pointer;
      font-size: 16px;

      &:hover,
      &.__active {
        text-decoration: underline;
        color: $orange;
      }
    }
    &__phone {
      min-width: 236px;
      @include link($white);
      @include tablet {
        display: none;
        margin-top: 15px;
      }
      font-size: 24px;
      & span {
        font-size: $font-size-sub-heading;
        font-weight: bold;
      }
    }

    &__menu {
      height: calc(100vh - 79px);
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-button {
        display: none;
        cursor: pointer;
        color: $orange;
        height: 40px;
        width: 40px;

        @include tablet {
          display: block;
        }
      }
    }
  }

  .directions__dropdown-toggle {
    position: relative;
  }

  /* mobile menu */
  .menu {
    &__item {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      border-bottom: 2px solid $orange;
      color: $white;
      font-size: 26px;

      &:last-child {
        border-bottom: none;
      }
      // не пункт с направлениями
      &:hover:not(:nth-child(2)) {
        background-color: $orange;
        cursor: pointer;
      }
    }

    &__sub-item {
      flex: 50% 2 0;
      padding: 15px 0;
      color: $white;
      text-align: center;
      border: 1px solid $orange;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background-color: $orange;
      }

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        border: 1px solid $orange;
      }
    }
  }

  /* transition */
  .expand {
    &-enter,
    &-leave-to {
      max-height: 0;
      opacity: 0;
    }

    &-enter-active {
      transition: max-height .3s ease-out, opacity .3s ease-out;
      overflow: hidden;
    }

    &-leave-active {
      transition: max-height .2s ease-in, opacity .2s ease-in;
      overflow: hidden;
    }

    &-enter-to,
    &-leave {
      max-height: calc(100vh - 79px);
      opacity: 1;
    }
  }
</style>
