<template>
  <div id="app">
    <AdminLayout v-if="isAdminRoute" />
    <SiteLayout v-else />
  </div>
</template>

<script>
import SiteLayout from '@/components/layout/SiteLayout';
import AdminLayout from '@/components/layout/AdminLayout';

export default {
  name: 'App',
  components: {
    AdminLayout,
    SiteLayout,
  },
  computed: {
    isAdminRoute() {
      return this.$route.fullPath.split('/').includes('admin');
    }
  }
};
</script>

<style lang="scss">
@import 'styles/reset';
#app {
  min-width: 320px;
  font-family: ProximaNova, sans-serif;
  font-size: 18px;
}
</style>
